# CardápioWeb
CARDAPIOWEB_TOKEN=
CARDAPIOWEB_STORE_ID=
CARDAPIOWEB_BASE_URL=https://integracao.cardapioweb.com
# Solicitar em integracao@cardapioweb.com (necessário para alguns endpoints de pedidos)
CARDAPIOWEB_PARTNER_KEY=

# PrefiroDelivery
PREFIRO_CLIENT_ID=
PREFIRO_CLIENT_SECRET=

# Meta Ads
META_APP_ID=
META_APP_SECRET=
META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=
